<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Driver</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="all">
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='ace-min/ace.js') }}"></script>
</head>
<body>
    <style>
        input:required:invalid {
            border-color: red;
        }
    </style>
    <div class="container">
        {% set active = 'drivers' %}{% include '_nav.html' %}
        <h1 class="mb-3">Edit Driver: {{ filename }}</h1>
        <form id="edit-form" action="{{ url_for('edit_driver', filename=filename) }}" method="POST">
            <div id="editor" style="height: 400px; width: 100%;">{{ content }}</div>
            <textarea id="content" name="content" style="display:none;"></textarea>
            <br>
            <button type="submit" class="btn btn-success mt-2">Save</button>
            <a href="{{ url_for('drivers') }}" class="btn btn-secondary mt-2">Close</a>
        </form>
    </div>

    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/json5");
        document.querySelector('#edit-form').addEventListener('submit', function (event) {
            event.preventDefault();
            document.querySelector('#content').value = editor.getValue();
            fetch(this.action, {
                method: 'POST',
                body: new FormData(this),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    window.location.href = data.redirect_url;
                } else {
                    alert(`Error: ${data.message}`);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while saving the driver.');
            });
        });
    </script>
</body>
</html>