<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEM file processing</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="all">
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main_kem.js') }}"></script>
  </head>
  <body>
    <style>
      input:required:invalid {
        border-color: red;
      }
    </style>
    <div class="container">
      {% set active = 'kem' %}{% include '_nav.html' %}
      <h1 class="mb-3">KEM file processing</h1>
      <form id="decrypt-form" name="decrypt-form" class="needs-validation" method="POST">
        <div class="input-group mb-3">
          <label class="input-group-text" for="file">KEM file</label>
          <input type="file" class="form-control" name="file" id="file" required>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" name="password" id="password-status">Password</span>
          <input type="password" class="form-control" name="password" id="password" autocomplete="off" required>
        </div>
        <button id="decrypt" name="decrypt_btn" class="btn btn-outline-primary" type="submit">Decrypt</button>
      </form>
      <div class="alert alert-danger mt-4" id="kemresp" role="alert" hidden>
        <h5 class="alert-heading" id="kemdechead"></h5>
        <hr>
        <p id="kemdectext" style="white-space: pre-line;"></p>
        <p id="kemdectext1" hidden></p>
      </div>
    </div>
  </body>
</html>